<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Serviços>
  <Serviço Plataforma="Twitter">
    <Tweet Autor="Biblioteca ISCTE-IUL" Data="Mon Dec 03 17:47:33 GMT 2018">Workshop Língua Gestual https://t.co/DfGpuDatGE</Tweet>
    <Tweet Autor="Biblioteca ISCTE-IUL" Data="Mon Dec 03 14:16:16 GMT 2018">Livro do Mês | dezembro 2018
"Vidas Partidas" de Cláudia Pereira
Mais informações: https://t.co/ER0d7YBQi7 https://t.co/KJkkRuwn4c</Tweet>
    <Tweet Autor="Biblioteca ISCTE-IUL" Data="Mon Dec 03 11:57:21 GMT 2018">Dia Internacional das Pessoas com Deficiência

Arte na Biblioteca: Fotograficamente
12 nov. a 12 dez., Biblioteca ISCTE-IUL

Estratégias de Intervenção/Comunicação para as Necessidades Educativas Especiais*... https://t.co/5kcUFZly4P</Tweet>
    <Tweet Autor="ISCTE - IUL" Data="Fri Nov 30 14:17:35 GMT 2018">I added a video to a @YouTube playlist https://t.co/VTnYO7nJ87 Livro do Mês dezembro 2018 Biblioteca ISCTE-IUL</Tweet>
    <Tweet Autor="Biblioteca ISCTE-IUL" Data="Fri Nov 30 10:34:47 GMT 2018">Dissertações depositadas no Repositório ISCTE-IUL - Comunicação Social &amp; Sociedade de Comunicação https://t.co/LisIRZXv5s</Tweet>
    <Tweet Autor="Biblioteca ISCTE-IUL" Data="Tue Nov 27 11:56:35 GMT 2018">Participe nas atividades que os SAS e os SID do ISCTE-IUL estão a desenvolver no âmbito do Dia Internacional das Pessoas com Deficiência

➡️ Estratégias de Intervenção/Comunicação para as Necessidades... https://t.co/lXObvdgPJZ</Tweet>
    <Tweet Autor="ISCTE - IUL" Data="Tue Nov 20 15:45:38 GMT 2018">I liked a @YouTube video https://t.co/LnnD84fM5c UMO AM LX</Tweet>
    <Tweet Autor="ISCTE - IUL" Data="Tue Nov 20 12:26:46 GMT 2018">I added a video to a @YouTube playlist https://t.co/U0EtGQ1DOa An Examination of Labor Trafficking from a Human Rights and Consumption</Tweet>
    <Tweet Autor="ISCTE - IUL" Data="Tue Nov 20 12:26:01 GMT 2018">I added a video to a @YouTube playlist https://t.co/U0EtGPK2WC An Examination of Labor Trafficking from a Human Rights and Consumption</Tweet>
    <Tweet Autor="ISCTE - IUL" Data="Tue Nov 20 12:19:34 GMT 2018">I liked a @YouTube video https://t.co/U0EtGPK2WC An Examination of Labor Trafficking from a Human Rights and Consumption Perspective</Tweet>
    <Tweet Autor="Biblioteca ISCTE-IUL" Data="Mon Nov 19 15:39:50 GMT 2018">Influence of body odors and gender on perceived genital arousal
https://t.co/gzuDKekuVO</Tweet>
    <Tweet Autor="Biblioteca ISCTE-IUL" Data="Mon Nov 19 10:58:37 GMT 2018">Mobilidade BES 2018 &#128515; #biblioselfie #libraryselfie #library #selfie iscte_iul em ISCTE-IUL https://t.co/YzglzErDa4</Tweet>
    <Tweet Autor="Biblioteca ISCTE-IUL" Data="Fri Nov 16 17:00:41 GMT 2018">Estivemos presentes no 4 Fórum Gestão de Dados de Investigação ... &#128512; — em IPCB-Instituto Politécnico de Castelo Branco https://t.co/o4ZOcL3aDY</Tweet>
    <Tweet Autor="Biblioteca ISCTE-IUL" Data="Thu Nov 15 19:57:18 GMT 2018">#smile para a sessão "comunicação digital nas BES" do Programa de Mobilidade das Bibliotecas de Ensino a Superior @bad_pt iscte_iul #library #funny #workinprogress #yellow… https://t.co/utDLcDtReh</Tweet>
    <Tweet Autor="Biblioteca ISCTE-IUL" Data="Thu Nov 15 09:31:40 GMT 2018">https://t.co/KpfCsnjzgr</Tweet>
    <Tweet Autor="Biblioteca ISCTE-IUL" Data="Tue Nov 13 17:23:43 GMT 2018">&#128591;&#129303; https://t.co/iG9BgAD8y1</Tweet>
    <Tweet Autor="Biblioteca ISCTE-IUL" Data="Wed Nov 07 10:20:08 GMT 2018">Livro do Mês de Novembro
"Flâneur" de Margarida Brito Alves... [et al.] (Coord.)

No âmbito do ciclo Livro do Mês, divulgamos, em novembro, uma obra da área do Urbanismo.
O livro está exposto no 1º piso da... https://t.co/G04rH3aQTu</Tweet>
    <Tweet Autor="ISCTE - IUL" Data="Tue Nov 06 09:53:41 GMT 2018">RT @CEI_IUL: Está a ter início a conferência Internacional RIBEI "Há lugar para o espaço Ibero-americano?". A entrada livre, participe!</Tweet>
    <Tweet Autor="ISCTE - IUL" Data="Tue Nov 06 09:50:26 GMT 2018">RT @eu_qia: Meet Francisco Monteiro: he was a General Chair of ISWCS'18 (https://t.co/4tsBxTqLDL ), a premier conference on wireless commun…</Tweet>
  </Serviço>
<Serviço ObterExtensao1="315725962486311" ObterExtensão2="e4a7080fe0f8b1d33e682f71875971f0" Plataforma="Facebook" TokenAcesso="EAAEfJq3XIicBAMaihs0igfAGMdbmyrWFEOgWlh8RcZBCAvEgegZCqIoMvun6VrhXyo3g4x8cNp9qM7AUVEZBhfG8ZAUQO7SONOJusYjZCExUtqdXp1Bbo0gTVwEyx2HIiU9zKXlg7mueaYszb2HwscRO4ZCXXhLEumNQUApPIB5mQ8J1ZCe1xOw0ez7q8pU9ciZAdxq9M0d5gddr59DWNuMlWAeMTZCXnxhcZD">
    <Post Autor="André Alecrim" Data="Fri Dec 07 01:22:57 GMT 2018">Grande ISCTE</Post>
    <Post Autor="ES" Data="Fri Dec 07 20:13:26 GMT 2018">ola amigos</Post>
    <Post Autor="ES" Data="Fri Dec 07 20:13:26 GMT 2018">testetesteteste</Post>
    <Post Autor="ES" Data="Fri Dec 07 20:13:26 GMT 2018">testetesteteste</Post>
    <Post Autor="ES" Data="Fri Dec 07 20:13:26 GMT 2018">testetesteteste</Post>
    <Post Autor="ES" Data="Fri Dec 07 20:13:26 GMT 2018">testetesteteste</Post>
    <Post Autor="ES" Data="Fri Dec 07 20:13:26 GMT 2018">testetesteteste</Post>
    <Post Autor="ES" Data="Fri Dec 07 20:13:26 GMT 2018">ISCTE o grandioso!</Post>
    <Post Autor="ES" Data="Fri Dec 07 20:13:26 GMT 2018">testetesteteste</Post>
    <Post Autor="ES" Data="Fri Dec 07 20:13:26 GMT 2018"/>
  </Serviço>
<Serviço Plataforma="Mail">
    <Mail Autor="Tiago Miguel Sousa &lt;tmcsa1@iscte-iul.pt&gt;" Data="Fri Dec 07 00:50:16 GMT 2018">ale iscte ale</Mail>
    <Mail Autor="Tiago Miguel Sousa &lt;tmcsa1@iscte-iul.pt&gt;" Data="Fri Dec 07 00:50:22 GMT 2018">ale iscte ale</Mail>
    <Mail Autor="Tiago Miguel Sousa &lt;tmcsa1@iscte-iul.pt&gt;" Data="Fri Dec 07 00:50:50 GMT 2018">ale iscte ale</Mail>
    <Mail Autor="Tiago Miguel Sousa &lt;tmcsa1@iscte-iul.pt&gt;" Data="Fri Dec 07 00:51:27 GMT 2018">ale iscte ale</Mail>
    <Mail Autor="Tiago Miguel Sousa &lt;tmcsa1@iscte-iul.pt&gt;" Data="Fri Dec 07 00:55:07 GMT 2018">ale iscte ale</Mail>
    <Mail Autor="Tiago Miguel Sousa &lt;tmcsa1@iscte-iul.pt&gt;" Data="Fri Dec 07 00:56:04 GMT 2018">ale iscte ale</Mail>
    <Mail Autor="Tiago Miguel Sousa &lt;tmcsa1@iscte-iul.pt&gt;" Data="Fri Dec 07 00:57:37 GMT 2018">ale iscte ale</Mail>
  </Serviço>
</Serviços>
